@media (min-width: 1920px) {

    .section-main h1 {
      letter-spacing: -3px;
      line-height: 77px;
      font-size: 80px;
    }
    

    .section-main p {
      font-size: 25px;
    }
    
    .section-split img {
      max-height: 1239px;
      max-width: 929px;
      width: auto;
    }
  
  }
  